/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --firstcolor: #353535d1;
    --textcolor: #ffffff;
    --backgroundcolor: #282828;
    --linkcolor: #faebd7;
    --linkhovercolor: #b8cbff;
    --linkvisitedcolor: #ccffe6;
    --backbtnbackgroundcolor: #779474;
}

.lightMode {
    --firstcolor: #ffffff;
    --textcolor: #212121;
    --backgroundcolor: #5f5f5f;
    --linkcolor: #282828;
    --linkhovercolor: #888888;
    --linkvisitedcolor: #3b6927;
    --backbtnbackgroundcolor: #e8e8e8;
}

body {
    margin: 0;
    font-family: "Raleway";
    color: white;
    background: #001220;
}

.pink {
    background: #C62368;
}

header {
    background-color: rgba(53, 53, 53, 0.158);
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(25px);
    z-index: 1000;
    color: white;
    padding: 20px 0;
    margin: 0;
}

h1 {
    font-size: 400%;
    font-family: "Playfair Display";
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    padding: 100px 20vw;
}

.headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 120%;
}

.logo img {
    height: 60px;
    width: auto;
}

nav {
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}

nav a:hover {
    text-decoration: none;
    color: #868686;
}

.spacer {
    aspect-ratio: 900/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url("../src/layered-waves1.svg");
}

.layer2 {
    background-image: url("../src/layered-waves2.svg");
}

.layer3 {
    aspect-ratio: 900/300;
    background-image: url("../src/wave-haikei1.svg");
}

.layer4 {
    aspect-ratio: 900/300;
    background-image: url("../src/wave-haikei2.svg");
}

h1,
header {
    letter-spacing: -2%;
}

.bodycontainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.left {
    flex: 1;
    padding-right: 20px;
}

.right {
    flex: 1;
    overflow: hidden;
}

.image {
    width: 100%;
    height: auto;
    display: block;
    max-height: 400px;
}

span {
    cursor: pointer;
}

/*dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #ffffff77;
    z-index: 1;
    animation: fadeIn 0.7s ease;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}